.details-site {
  color: #fff;
  text-align: center;
  height: auto;
}

span {
  font-weight: 900;
}

img {
  width: 10em;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 8em;
}
